任务3内容：完成第7章的学习，代码实现的过程上传到GitHub

DDL：20190815 8:00am

# 第7章 数据清洗和准备

## 7.1 处理缺失数据

pandas使用浮点值NaN(Not a Number)表示缺失的数值型数据

In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
# np.set_printoptions(precision=4, suppress=True)

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [3]:
string_data[0] = None # Python内置的None值对象数组中也可以作为NA
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

NA的处理方法

<img src = 'NA的处理方法.png' width=600>

### 7.1.1 滤除缺失数据

常用方法：
* dropna()

1) Series

In [4]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [6]:
# data.dropna() 等价于
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

2) DataFrame

In [8]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [9]:
# dropna默认丢弃任何含有缺失值的行：how='any'
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [11]:
# how='all'只丢弃全为NA的行
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [12]:
# axis=1 丢弃列
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [24]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  0.670216       NaN       NaN
1 -0.023493       NaN       NaN
2 -1.218302       NaN  1.074623
3  0.723642       NaN  1.001543
4 -0.503087 -0.622274 -0.921169
5 -0.726213  0.222896  0.051316
6 -1.157719  0.816707  0.433610

In [25]:
df.dropna()

          0         1         2
4 -0.503087 -0.622274 -0.921169
5 -0.726213  0.222896  0.051316
6 -1.157719  0.816707  0.433610

In [28]:
# 丢弃一部分行
df.dropna(thresh=2) # thresh=n，丢弃NA个数大于等于n的行

          0         1         2
2 -1.218302       NaN  1.074623
3  0.723642       NaN  1.001543
4 -0.503087 -0.622274 -0.921169
5 -0.726213  0.222896  0.051316
6 -1.157719  0.816707  0.433610

In [33]:
df.dropna(axis=1, thresh=2)

          0         1         2
0  0.670216       NaN       NaN
1 -0.023493       NaN       NaN
2 -1.218302       NaN  1.074623
3  0.723642       NaN  1.001543
4 -0.503087 -0.622274 -0.921169
5 -0.726213  0.222896  0.051316
6 -1.157719  0.816707  0.433610

In [27]:
?df.dropna()

### 7.1.2 填充缺失数据

## 7.2 数据转换

### 7.2.1 移除重复数据

### 7.2.2 利用函数或映射进行数据转换

### 7.2.3 替换值

### 7.2.4 重命名轴索引

### 7.2.5 离散化和面元划分

### 7.2.6 检测和过滤异常值

### 7.2.7 排列和随机采样

### 7.2.8 计算指标/哑变量

## 7.3 字符串操作

### 7.3.1 字符串对象方法

### 7.3.2 正则表达式

### 7.3.3 pandas的矢量化字符串函数